@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
/* font */
--fontPoppins: 'Poppins', sans-serif;
/* ### Primary */
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
/* ### Neutral */
--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);
}

body{
    display: flex;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: var(--very-light-gray);
    align-items: center;
    justify-content: center;
}

main{
    width: 90%;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.container{
    text-align: center;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
    box-shadow: 0px 0.3rem 1rem hsl(0, 0%, 80%);
    border-radius: 0.3rem;
}

.cyan{
    border-top: 0.2rem solid var(--Cyan);
}

.red{
    border-top: 0.2rem solid var(--Red);
}

.orange{
    border-top: 0.2rem solid var(--Orange);
}

.blue{
    border-top: 0.2rem solid var(--Blue);
}

.container__title{
    margin-bottom: .5rem;
    font-weight: 200;
    color: var(--Grayish-Blue);
}

.container__subtitle{
    font-weight: 600;
    color: var(--Very-Dark-Blue);
    margin-bottom: 1rem;

}

.container__paragraph{
    margin-bottom: 4.5rem;
    font-size: 0.93rem;
    color: var(--Grayish-Blue)
}

.title{
    margin-top: 0;
    margin-bottom: .5rem;

    color: var(--very-dark-blue);
}
.paragraph{
    margin-top: 0;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    font-size: 0.85rem;
}
img{
    align-self: flex-end;
    width: 3.5rem;
}

@media (min-width: 768px){

    .container{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .container__title,
    .container__subtitle{
        font-size: 2.3rem;
    }

    .container__paragraph{
        font-size: 1rem;
        max-width: 600px;
        align-items: center;
        margin: auto;
        margin-bottom: 100px;
    }
    .cards{
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: space-between;
        max-width: 80%;
        gap: 30px;
    }
.cardsRedOrange{
    max-width: 80%;
}
}